<!--================ Show product page ================== -->

<section class="container">
  <div class="row" data-product-id ="<%= @product.id%>">
  <div class="show">
    <p id="notice"><%= notice %></p>
    <div class="row-product-details">
      <div class="col-sm-9 col-md-9 product-image">
        <p>
          <%=
          if (@product.image_url != nil)
          image_tag(@product.image_url, class: "img-responsive product img-zoom", data_zoom_images:@product.image_url)
          end %>
        </p>
      </div><!-- /product-image -->
      <div class="col-sm-3 col-md-3 product-description-container">
        <% cache @product do %>
        <h2 class="product-name">
          <%= @product.name %>
        </h2>

        <p class="product-description">
          <%= @product.description %>
        </p>

        <p class="product-colour">
          <%= @product.colour %>
        </p>
        <% end %>

        <p class="product-price">
          <%= number_to_currency(@product.price, unit: "€") %>
        </p>

        <%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: 'shared/stripe_checkout_button' %>
        <% end %>

        <p> Average Rating: <div class="rated" id="average-rating" data-score= "<%=@product.average_rating %>"></div></p></div>

        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

        <%= render 'new_comment' %>
        <%= render 'comments' %>

        <%= will_paginate @comments%>

      </div><!-- /product-description-container -->
    </div><!-- /row-product-details -->
  </div><!-- /show -->
</section>
