<!--================ Show product page ================== -->

<section class="container">
  <div class="show">
    <p id="notice"><%= notice %></p>
    <div class="row-product-details">
      <div class="col-sm-9 col-md-9 product-image">
        <p>
          <%= image_tag(@product.image_url, class: "img-responsive") rescue nil %>
        </p>
      </div><!-- /product-image -->
      <div class="col-sm-3 col-md-3 product-description-container">
        <h2 class="product-name">
          <%= @product.name %>
        </h2>

        <p class="product-description">
          <%= @product.description %>
        </p>

        <p class="product-colour">
          <%= @product.colour %>
        </p>

        <p class="product-price">
          <%= number_to_currency(@product.price, unit: "€") %>
        </p>

        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>

        <%= form_with(url: '/payments/create') do |form| %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>



        <%= render 'new_comment' %>
        <%= render 'comments' %>

        <%= will_paginate @comments%>

      </div><!-- /product-description-container -->
    </div><!-- /row-product-details -->
  </div><!-- /show -->
</section>
